langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-groq==0.2.3
langchain-huggingface==0.1.2
langgraph==0.2.60
qdrant-client==1.12.1
rank-bm25==0.2.2
sentence-transformers==3.3.1
ragas==0.2.10
fastapi==0.115.6
uvicorn==0.34.0
pypdf==5.1.0
python-dotenv==1.0.1